body{
    margin: auto;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EBDDE2;
    height: 0.5cm;
}
.center{
    text-align: center;
}
.center h2{
    padding: 10px;
}
.center form{
    padding: 20px;
}
.userid input{
    padding: 5px;
    height: 20px;
}
form .email{
    margin: 20px;
}
.email input{
    padding: 5px;
    height: 20px;
}
form .password{
    margin: 20px;
}
.password input{
    padding: 5px;
    height: 20px;
}
form .signup{
    color: rgb(212, 17, 17);
}

a{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
}

a:hover{
    background-color: grey;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: 'Acme', sans-serif;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color:#7D0552;
    color: white;
}