@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
h1{ 
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7D0552;
}
h2{
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7D0552;
}
body{
    background-color: #EBDDE2;
    font-family: 'Acme', sans-serif;
    

}
.main{
    background-color:#7D0552;
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    border:5px solid black;
    border-radius: 10px;
    

}
.mainwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
img{
    width: 70%;
    height: 70%;
    margin-left:    0.5rem;


}
.submit{
margin-left: 3rem;
margin-top: 1rem;
font-family: 'Acme', sans-serif;


}
