body{
    margin: auto;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    height: 0.5cm;
}
.center{
    text-align: center;
}
.center h2{
    padding: 10px;
}
.center form{
    padding: 20px;

}
.userid input{
    padding: 5px;
    height: 20px;
}
form .email{
    margin: 20px;
}
.email input{
    padding: 5px;
    height: 20px;
}
form .password{
    margin: 20px;
}
.password input{
    padding: 5px;
    height: 20px;
}
