<!DOCTYPE html>
<html>

<head>
    <title> About Us Page</title>
    <link rel="stylesheet" href="/css/newStyles.css">
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/MyProfile">My Profile </a>
        <a href="/AboutUs">About</a>
        <a href="/logout">Logout</a>
    </div>
    
        <div class="wrap" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">

            <h2 style="font-size: 50px;color: white;margin-top: 20px;"> Welcome To The Arena Rentals Store ! </h2>

            <p style="text-align: center;font-size: 20px;margin-top: 40px;color: white; max-width: 40vw;border: 5px solid white; padding: 30px 10px;border-radius: 20px;">
                Hey there! This is a one-stop destination for all your Sports gears and kits.<br>
                You will find that we have full kits available for various sports, and we are hoping to expand
                further!<br>
                Hope you have a hassle free experience doing business with us. <br>
                Toodles!
            </p>
        </div>
</body>

</html>