<!DOCTYPE html>
<html>

<head>
    <title> About Us Page</title>
    <link rel="stylesheet" href="/css/AStyles.css">
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/MyProfile">My Profile </a>
        <a href= "/Return">Return</a>
        <a href="/AboutUs">About</a>
        <a href="/logout">Logout</a>
    </div>
    
    <div class="mainwrap">
        <div class="wrap">

            <h2> Welcome To The ConKul Store ! </h2>

            <p>
                Hey there! This is a one-stop destination for all your Sports gears and kits.<br>
                You will find that we have full kits available for various sports, and we are hoping to expand
                further!<br>
                Hope you have a hassle free experience doing business with us. <br>
                Toodles!
            </p>
        </div>
    </div>
</body>

</html>